<!-- <h1>Register</h1> -->
<!-- <h1>Login Page</h1> -->
<section class="login flex justify-center pt-14 pb-52">
  <div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8 bg-[#fff]">
      <div class="max-w-md w-full space-y-8">
        <div>
          <!-- <img class="mx-auto h-12 w-auto" src="img/logo.png" alt="Workflow"> -->
          <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">Register an account</h2>
          <!-- <p class="mt-2 text-center text-sm text-gray-600">
            Or
            <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500"> start your 14-day free trial </a>
          </p> -->
        </div>
        <form action="/register" method="POST" class="mt-8 space-y-6">
          <% if(messages.error) {%>
          <span class="text-[#f39387] text-sm"><%= messages.error%></span>
          <% }%>
          <div class="rounded-md shadow-sm -space-y-px">
              <div>
                  <label for="username" class="sr-only">Username</label>
                  <input id="username" name="name" value="<%= messages.name%>" type="text" autocomplete="username" class="appearance-none rounded-none relative block w-full px-3 py-2 my-5 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Enter your username">
                </div>
            <div>
              <label for="email-address" class="sr-only">Email address</label>
              <input id="email-address" name="email" value="<%= messages.email%>" type="email" autocomplete="email" class="appearance-none rounded-none relative block w-full px-3 py-2 my-5 border border-gray-300 placeholder-gray-500 text-gray-900  focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Enter your email address">
            </div>
            <div>
              <label for="password" class="sr-only">Password</label>
              <input id="password" name="password" type="password" autocomplete="current-password" class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Enter password">
            </div>
          </div>
    
          <div class="flex items-center justify-between">
            <!-- <div class="flex items-center">
              <input id="remember-me" name="remember-me" type="checkbox" class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded">
              <label for="remember-me" class="ml-2 block text-sm text-gray-900"> Remember me </label>
            </div> -->
    
            <div class="text-sm text-center">
              <a href="/login" class="font-medium text-[#f39387] hover:text-[#b23301]"> Already have account? </a>
            </div>
          </div>
    
          <div>
            <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-[#f39387] hover:bg-[#b23301] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
              Register
            </button>
          </div>
        </form>
      </div>
    </div>
</section>