
$primary: #f39387;
$primary-hover: #b23301;
$secondary: #F8F8F8;
$pure: #fff;
$dark: #232323;
$grey: #ccc;
$black:#030303;
$light-color:#666;
$box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
//Transitions
$smooth: all .5s ease-in-out;
